.loginWrapper {
  width: 100% !important;
  &__title,
  &__description {
    margin: 0 !important;
    text-align: center;
  }
  &__title {
    color: white !important;
    font-size: 24px !important;
  }
  &__description {
    margin-top: 4px !important;
    color: rgb(148 163 184 / 1) !important;
    font-size: 14px !important;
  }

  &__inputsWrapper {
    margin-top: 10px;
    div {
      margin: 0;
    }
    label {
      color: rgb(148 163 184 / 1) !important;
    }
  }

  &__input {
    margin: 0;
    background-color: rgb(30 41 59 / 1);
    padding: 8px 12px;
    border: 1px solid rgb(51 65 85 / 1);
    color: #fff;
    &:hover {
      background-color: inherit;
    }
    input {
      color: #fff;
      padding: 8px 12px;
    }
    &:hover {
      background-color: inherit;
      border: 1px solid #6467f2;
    }
    &::placeholder,
    input::placeholder {
      color: rgb(148 163 184 / 1) !important;
    }
    &:focus-within,
    span:first-child:focus-within {
      background-color: inherit;
      border: 1px solid #6467f2;
    }

    .ant-form-item-explain-error {
      display: none !important;
    }
  }
  &__button {
    width: 100%;
    margin-top: 20px;
    background-color: #6467f2;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    height: 44px;
  }
  &__button:hover {
    background: rgb(99 102 241 / 0.8) !important;
    color: #fff !important;
  }

  &__bottomText {
    text-align: center;
    margin-top: 20px;
    color: white;

    a {
      color: #6467f2;
    }
  }
}
