.wrapper {
  font-family: sans-serif;
  height: 100vh;
  position: relative;
  background-color: rgb(17 24 39 / 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: radial-gradient(
    circle farthest-side at 50% 0,
    rgba(99, 102, 241, 0.15) 0%,
    rgba(99, 102, 241, 0) 100%
  );
}

.formWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  max-height: 650px;
  box-sizing: border-box;
  width: 450px;
  background-color: rgb(15 23 42 / 0.5);
  padding: 32px;
  border: 1px solid rgb(30 41 59 / 1);
  border-radius: 10px;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.logoImg {
  color: white;
  background-color: #6467f2;
  padding: 7px;
  border-radius: 11px;
}

.logoName {
  margin-left: 10px;
  color: white;
  font-size: 24px;
  font-weight: 600;
}
